@import "_sass/_font.scss";
@import "_sass/_variables.scss";
@import "_sass/_common.scss";
@import "_sass/_header.scss";
@import "_sass/section-main";
@import "_sass/projects";
@import "_sass/control";
@import "_sass/types";
@import "_sass/advantages";
@import "_sass/fantasies";
@import "_sass/design";
@import "_sass/steps";
@import "_sass/team";


//-------------------
//*  >>> Clients
//-------------------
.section_clients {
  .card {
    width: 376px;
    height: 428px;
    box-shadow: 0.25rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.14);
    align-items: flex-start;
    position: relative;
    .card-heading {
      display: flex;
      align-items: center;
      padding: 2rem 1rem 0 1rem;
    }
    .card-heading-text {
      padding-left: 2rem;
      font-size: 1.125rem;
      font-weight: bold;
    }
    .card-text {
      padding: 1rem;
    }
    .card-bottom_box {
      width: 294px;
      height: 54px;
      background-color: $color-accent;
      position: absolute;
      bottom: -5%;
      display: flex;
      justify-content: space-around;
    }
    .card-bottom {
      display: flex;
      align-items: center;
      color: #ffffff;
      &:first-child {
        border-right: #ffffff solid 1px;
      }
      .card-bottom-text {
        padding: 0 1rem;
      }
    }
  }
}

//-------------------
//*  >>> Questions
//-------------------
.section_questions {
  max-width: 882px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ffffff;
}

.questions-form {
  max-width: 510px;
  text-align: center;
}

//-------------------
//*  >>> Contacts
//-------------------
.contact-map {
  text-align: center;
  img {
    margin: 2rem auto;
  }
}
