@import "_sass/_font.scss";
@import "_sass/_variables.scss";
@import "_sass/_common.scss";
@import "_sass/_header.scss";
@import "_sass/section-main";
@import "_sass/projects";
@import "_sass/control";
@import "_sass/types";
@import "_sass/advantages";
@import "_sass/fantasies";
@import "_sass/design";
@import "_sass/steps";
@import "_sass/team";
@import "_sass/clients";




//-------------------
//*  >>> Questions
//-------------------
.section_questions {
  max-width: 882px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ffffff;
}

.questions-form {
  max-width: 510px;
  text-align: center;
}

//-------------------
//*  >>> Contacts
//-------------------
.contact-map {
  text-align: center;
  img {
    margin: 2rem auto;
  }
}
