//-------------------
//*  >>> section_main
//-------------------

.section_main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: $color-bg;

  .main-aside_block {
    @media (max-width: 640px) {
      display: none;
    }
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-accent;
    background-color: $color-bg;

    .main-aside_block-text {
      font-family: "FuturaDemiC", sans-serif;
      font-size: 0.875rem;
      writing-mode: vertical-lr;
    }

    .main-aside_block-line {
      margin: 8px;
      width: 1px;
      height: 5.75rem;
      background-color: $color-accent;
    }
  }

  .main-main_block {
    display: flex;
    align-items: center;
    width: 95%;

    @media (max-width: 640px) {
      width: 100%;
    }

    min-height: 80vh;
    background-image: url(./assets/images/main_block-bg_img.jpg);
    background-size: cover;
    background-position: center center;
    color: #ffffff;

    .main-main_block-block_content {
      max-width: 35rem;
      margin-left: 3rem;
      line-height: 1.325;

      @media (max-width: 640px) {
        margin-left: 1rem;
      }
    }

    .main-main_block-main_text {
      margin: 1.2rem 0;
      text-transform: uppercase;

      span {
        color: $color-accent;
      }
    }

    .main-main_block-additional_text {
      max-width: 26rem;

      p {
        font-size: 1.375rem;
        @media (max-width: 375px) {
          font-size: 1.125rem;
        }
        margin: 1.2rem 0;
      }
    }

    .main-main_block-buttons {
      button {
        min-width: 13rem;
        margin-top: 2.5rem;
        margin-right: 1.25rem;
        @media (max-width: 375px) {
          width: 95%;
          margin-left: 0;
        }
      }
    }

    .main_block-buttons-submit {
      background: none;
      border: 1px solid #ffffff;
      span {
        @media (max-width: 640px) {
          display: none;
        }
      }
    }
  }
}

.main-scroll_down_block {
  @media (max-width: 640px) {
    display: none;
  }
  align-self: flex-start;
  width: 15rem;
  height: 6rem;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  .main-scroll_down_block-text {
    margin: 1rem;
    color: #fff;
    text-transform: uppercase;
  }
  .main-scroll_down_block-icon {
    width: 32px;
  }
}
